.nav{
    background-color: transparent;
}

.nav li:hover {
    background-color: black;
}
.navbar-nav{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
body {
    /*background-color: #fff;*/
    background-color: rgb(232, 230, 230);
}
.vide{
    height: 55px;
}
.clear{
    clear: both;
}
.categories{
    display: flex;
    align-items: flex-start;
}
.categories select{
  widows: 100%;
}
#link2{
  color: rgb(2, 166, 146);
}
#url{
    width: 70%;
}
#categories{
    width: 60%;
}
#tags{
    width: 60%;
}

iframe{
  width: 50%;
}
textarea{
  height: 100px;
}
#lien{
  width: 80%;
}
.message{
  display: flex;
  align-items: flex-start;
}
#message{
  width: 80%;
}
.bouton{
  background-color: white;
  display: flex;
  justify-content: center;
  /*border: 1px solid black;*/
  border-radius: 10%;

}
.bouton:hover{
  -moz-box-shadow: 2px 2px 10px 0px #656565;
  -webkit-box-shadow: 2px 2px 10px 0px #656565;
  -o-box-shadow: 2px 2px 10px 0px #656565;
  box-shadow: 2px 2px 10px 0px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
  border-radius: 20%;
}
span{
  color: red;
  font-weight: bold;
}
h3 a{
  color: rgb(2, 166, 146);
}
/*h1{
  width: 50%;
}*/
.resultats{
  display: flex;
}

.but{
  display: flex;
  align-items: center;
}

/*LOGO SIMPLON LINK*/
.clear img{
  height: 40vh;
  width: 70%;
}
/*FIN LOGO SIMPLON LINK*/
